<nav class="nav flex-row text-center mt-4 fs-2">
    <a href="/" class="nav-link <% if(page_name === 'index') {%> active <% }%>">home</a>
    <a href="/service" class="nav-link <% if(page_name === 'service') {%> active <% }%>">service</a>
    <a href="/skill" class="nav-link <% if(page_name === 'skill') {%> active <% }%>">skill</a>
    <a href="/contact" class="nav-link <% if(page_name === 'contact') {%> active <% }%>">contact</a>
</nav>
<hr/>